img {
    height: 3rem;
}


footer {
    background: black;
    padding: 20px 0;
    color: white;
    margin-top: 40px;
}

.imagen{
    height: 40%;
}

body  {
    background-color: #006298;
}

.card {
    border: none;
    background-color: #006298;
}

.portafolio {
    padding-top: 50px;
}